<div class="well">
<h1>What's on at the Hermitage</h1>
<h2>Current Exhibitions:</h2>
<br>
<div *ngFor="let exhibition of exhibitions | async"  class="panel panel-default">
  <div class="panel-body">
    <h3 (click)="goToDetailPage(exhibition)"><em>{{exhibition.title}}</em> by {{exhibition.location}}</h3>
    <div *ngIf="currentRoute === '/admin'">
      {{exhibition.description}}
      <br>
        {{exhibition.date}}
      <hr>
      <app-edit-exhibition [selectedExhibition]="exhibition"></app-edit-exhibition>
    </div>
  </div>
</div>
