.well{
  font-style: italic;
  background: rgba(204, 204, 204, 0.5);
  font-size: 30px;
}
h1{
  font-weight: bold;
  font-family: cursive;
}

h2{
  font-weight: bold;
  font-family: cursive;
}

h4{
  font-weight: bold;
  font-family: cursive;
  font-size: 23px;
}
