<div class="well">
<h1>Admission Prices and Tickets Purchase Information</h1>
<h3>Tickets purchase at the museum’s ticket offices on the day of the visit:</h3><br>
<p>
700 RUB – entry ticket to the Main Museum Complex and the branches (the Main Museum Complex, the General Staff Building, Winter Palace of Peter the Great, Menshikov Palace, the Museum of the Imperial Porcelain Factory)
</p>
<p>
400 RUB - entry ticket to the Main Museum Complex and the branches (the Main Museum Complex, the General Staff Building, Winter Palace of Peter the Great)
for Russian and Belarusian citizens
</p>
300 RUB - entry ticket to one of the Hermitage branches (Winter Palace of Peter the Great, Menshikov Palace, the Museum of the Imperial Porcelain Factory, Staraya Derevnya Restoration and Storage Centre)
<br>
<h3>The first Thursday of each month is a day of free entrance to the museum for all individual visitors (with free tickets).</h3>
<h3>Free entrance: preschool children, school children, students</h3>
<br>
<h3>Ticket Purchase Online:</h3>
<p>$ 17.95 - One-day entrance ticket to the Main Museum Complex and General Staff Building.</p>
<p>$ 23.95 - Two-day entrance ticket to the Main Museum Complex, General Staff Building, Winter Palace of Peter the Great, Menshikov Palace, the Museum of the Imperial Porcelain Factory.
</p>
</div>
